[access]
	inheritFrom = All-Projects
[project]
	description = Website for DevOps online training...
[access "refs/*"]
	owner = group user/devopschak
[access "refs/for/refs/*"]
	read = group user/devopschak
	push = group user/devopschak
	label-Code-Review = -2..+2 group user/devopschak
	label-Verified = -1..+1 group user/devopschak
	rebase = group user/devopschak
	removeReviewer = group user/devopschak
	submit = group user/devopschak
[access "refs/heads/*"]
	read = group user/devopschak
	create = group user/devopschak
	push = +force group user/devopschak
	pushMerge = group user/devopschak
[access "refs/tags/*"]
	push = group user/devopschak
	push = +force group user/devopschak
