[access]
	inheritFrom = All-Projects
[project]
	description = Website for DevOps online training...
[access "refs/*"]
	owner = group user/Chakri (devopschak)
[access "refs/for/refs/*"]
	read = group user/Chakri (devopschak)
	push = group user/Chakri (devopschak)
	label-Code-Review = -2..+2 group user/Chakri (devopschak)
	label-Verified = -1..+1 group user/Chakri (devopschak)
	rebase = group user/Chakri (devopschak)
	removeReviewer = group user/Chakri (devopschak)
	submit = group user/Chakri (devopschak)
[access "refs/heads/*"]
	read = group user/Chakri (devopschak)
	create = group user/Chakri (devopschak)
	push = +force group user/Chakri (devopschak)
	pushMerge = group user/Chakri (devopschak)
[access "refs/tags/*"]
	push = group user/Chakri (devopschak)
	push = +force group user/Chakri (devopschak)
